# Python Environment
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Industrial Silos (Keep structure, ignore content)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/inference/*
!data/inference/.gitkeep

# Logs & Credentials
logs/*.log
*.log
logs/*.json
.env

# System Files
.DS_Store

# Hackathon Notes & Drafts (Unnecessary for Prod/Repo)
EmbeddedCodes.txt
app_icon_prompt.md
rapport*.md
testrunrapport.md
DataBridge.py